{#<!DOCTYPE html>#}
{#<html lang="en">#}
{#<head>#}
{#    <meta charset="UTF-8">#}
{#    <title>Title</title>#}
{#    {% load static %}#}
{#    <link rel="stylesheet" href="{% static 'style_login.css' %}">#}
{#    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>#}
{#    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>#}
{#    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">#}
{#    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>#}
{#    <script src="https://use.fontawesome.com/releases/v5.2.0/js/all.js"></script>#}
{#</head>#}
{#<body>#}
{% extends "base.html" %}
{% block content %}
{#	<div class="limiter">#}
{#		<div class="container-login100">#}
    <div class="buffer" style="height: 20%;"></div>
			<div class="wrap-login100 p-t-50 p-b-90">
				<form class="login100-form validate-form flex-sb flex-w" action="{% url 'account:login' %}" method="POST">
                    {% csrf_token %}
					<span class="login100-form-title p-b-51">
						Login
					</span>
                    <br>


					<div class="wrap-input100 validate-input m-b-16" data-validate = "Username is required">
						<input class="input100" type="text" name="id" placeholder="Username">
						<span class="focus-input100"></span>
					</div>
                    <br>

					<div class="wrap-input100 validate-input m-b-16" data-validate = "Password is required">
						<input class="input100" type="password" name="password" placeholder="Password">
						<span class="focus-input100"></span>
					</div>
                    <br>

					<div class="container-login100-form-btn m-t-17">
						<button type='submit' class="login100-form-btn">
							Login
						</button>
					</div>
                    <br>

                    <div style="color: white;">
                        <h4>{{ error }}</h4>
                    </div>


				</form>
			</div>
{#		</div>#}
{#	</div>#}
{% endblock %}
{##}
{##}
{#<script src="vendor/jquery/jquery-3.2.1.min.js"></script>#}
{#<!--===============================================================================================-->#}
{#	<script src="vendor/animsition/js/animsition.min.js"></script>#}
{#<!--===============================================================================================-->#}
{#	<script src="vendor/bootstrap/js/popper.js"></script>#}
{#	<script src="vendor/bootstrap/js/bootstrap.min.js"></script>#}
{#<!--===============================================================================================-->#}
{#	<script src="vendor/select2/select2.min.js"></script>#}
{#<!--===============================================================================================-->#}
{#	<script src="vendor/daterangepicker/moment.min.js"></script>#}
{#	<script src="vendor/daterangepicker/daterangepicker.js"></script>#}
{#<!--===============================================================================================-->#}
{#	<script src="vendor/countdowntime/countdowntime.js"></script>#}
{#<!--===============================================================================================-->#}
{#	<script src="js/main.js"></script>#}
{##}
{#</body>#}
{#</html>#}