<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>daskjflkadlkajhdsfdsahlkjfds</title>
</head>

<body>

<button id="addedKeyword">인증번호 전송</button>
<div id="imdiv"></div>

<script type="text/javascript">
    var addedFormDiv = document.querySelector("#addedKeyword");
    console.log(addedFormDiv);
    addedFormDiv.addEventListener('click', function(){
            var imdiv = document.querySelector('#imdiv');
            imdiv.innerHTML = "<input value=name />";
    })
</script>
</body>
</html>