{% extends "base.html" %}
{% load mathfilters %}
{% load core_extras %}

{% block content %}
    {% load static %}
    <main id="main">
        <section id="portfolio" class="section-bg">
            <div class="container">

                <header class="section-header">
                    <h3 class="section-title">{{ univ }}에서 올라온 포스팅이에요</h3>

                </header>

                <div>
                    <div style="border: 1px solid black">
                        <div id="wrapper" class="wrapper">
                            <input type="text" id="search" name="search" autocomplete="off">
                        </div>
                        <div class="list-group" id="result" style="border:1px solid black"></div>

                        <button type="button" id="search_button" onclick="search_tag()" style="color: white;">검색
                        </button>
                    </div>
                </div>


                <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

                <button type="button" onclick="document.getElementById('searchField').click()"
                        style="color: white"></button>
                <script>
                    tags_list = [
                        {% for i in rm_dup_tags %}
                            '{{ i }}',
                        {% endfor %}
                    ];
                    menus_list = [
                        {% for i in menus %}
                            '{{ i }}',
                        {% endfor %}
                    ];

                    function search_tag() {
                        var searchField = $('#search').val();
                        document.getElementById(searchField).click()
                    }

                    function complete(kwd) {
                        $('#search').val(kwd);
                    }

                    function delay(callback, ms) {
                        var timer = 0;
                        return function () {
                            var context = this, args = arguments;
                            clearTimeout(timer);
                            timer = setTimeout(function () {
                                callback.apply(context, args);
                            }, ms || 0);
                        };
                    }

                    $(document).ready(function () {
                        $('html').click(function (e) {
                            if (!$(e.target).hasClass("list_group_item") && (!$(e.target).hasClass("tag_list_item"))) {
                                $('#result').html('');
                                $('#search_button').hide();
                            } else if ($(e.target).hasClass("tag_list_item")) {
                                $('#result').html('');
                                $('#search_button').show();
                            } else {
                                $('#search_button').show()
                            }
                        })

                        $('#search').keyup(delay(function () {
                                $('#result').html('');
                                var searchField = $('#search').val();
                                console.log(searchField)
                                $.ajax({
                                    type: "POST",
                                    url: "{% url 'core:search_store' %}",
                                    data: {'kwd': searchField, 'csrfmiddlewaretoken': '{{ csrf_token }}'},
                                    dataType: "json",
                                    async: true,
                                    success: function (response) {
                                        $.each(response, function (key, value) {
                                            if (key === 'filtered_tags') {
                                                for (var i in value) {
                                                    console.log(i, value[i]['name'])
                                                    $('#result').append('<div class="list_group_item">' +
                                                        '<button class="tag_list_item"onclick="javascript:complete(\'' + value[i] + '\'' + ')" style = "color:white">' +
                                                        value[i] + '</button></div>');
                                                }

                                            }
                                            if (key === 'menus_filtered') {
                                                for (var i in value) {
                                                    {#console.log(now, i, value[i]['name'])#}
                                                    $('#result').append('<div class="list_group_item">' +
                                                        '<button class="tag_list_item"onclick="javascript:complete(\'' + value[i] + '\'' + ')" style = "color:white">' +
                                                        value[i] + '</button></div>');
                                                }
                                            }
                                        })
                                        {#if ((response['filtered_tags'].length === 0) && (response['menus_filtered'].length === 0)) {#}
                                        {#    $('#result').append('<div class="list_group_item">검색 결과가 없습니다.</div>');#}
                                        //{#}#}
                                    }
                                })

                            },
                            300
                        ))
                        ;


                    })


                </script>
                <div class="row" id="tag_filter_list">
                    <div class="col-lg-12">
                        <ul id="portfolio-flters">
                            <li data-filter="*" class="filter-active">All</li>

                            {% for tag in rm_dup_tags %}
                                <div style="display: inline-block">
                                    <li data-filter=".filter-{{ tag }}" id="{{ tag }}">{{ tag }}</li>
                                </div>
                            {% endfor %}

                        </ul>
                    </div>
                </div>


                <div class="row">
                    <div class="col-lg-12">
                        <ul id="portfolio-flters">
                            <li data-filter="*" class="filter-active">All</li>

                            {% for category in categories %}
                                <li data-filter=".filter-{{ category }}">{{ category }}</li>
                            {% endfor %}

                        </ul>
                    </div>
                </div>

                <script>
                    function addMinutes(date, minutes) {
                        return new Date(date.getTime() + minutes * 60000);
                    }
                </script>

                <div class="row portfolio-container">
                    {% for key, values in tag_dic.items %}
                        {% if key.chat_created != True %}
                        <div class="col-lg-3 col-md-6 portfolio-item filter-all filter-all{{ key.store_id.cat_name }} filter-{{ key.store_id.cat_name }} filter-all {% for value in values %}filter-{{ key.store_id.cat_name }}-{{ value.content }} filter-{{ value.content }} {% endfor %}">
                            <div class="portfolio-wrap"
                                 style="border-radius: 10px; font-size: 1.3rem; text-align: center;">
                                <div style="background-color: rgb(0, 0, 0, 0.5); color: white;">
                                    <span>{{ key.user_id }}</span>
                                    {% with answer=key.user_id.profile.good_review|add:key.user_id.profile.bad_review %}
                                        {% if answer %}
                                            <span style="color: yellow;">
                                                {% with answer2=key.user_id.profile.good_review|mul:5|intdiv:answer %}
                                                    {% for i in answer2|range %}
                                                        <i class="fas fa-star"></i>
                                                    {% endfor %}
                                                {% endwith %}
                                            </span><br>
                                        {% else %}
                                            <span style="color: grey;"><i class="fas fa-star"></i></span><br>
                                        {% endif %}
                                    {% endwith %}
                                </div>
                                <img src="{{ key.store_id.logo }}" class="img-fluid" alt="" style="width: 100%;">
                                <div class="portfolio-info" style="height: 70%;">
                                    <div style="">
                                        {% if user.is_active %}
                                            {% if current_user != key.user_id.pk %}
                                                <button type="button" class='match_request btn btn-secondary' name="{{ key.pk }}" style='align-content: center;'>매칭 신청</button><br><br/>
                                            {% endif %}
                                        {% endif %}
                                        <button class="btn btn-secondary" style='cursor: pointer;' onclick="window.open('{{ key.store_id.store_url }}', 'childForm', 'width=1200, height=1200, resizable = no, scrollbars = no');">가게 상세 정보</button>
                                    </div>
                                </div>
                                <div style="color: white; background-color: rgb(0, 0, 0, 0.5)">
                                    <span>{{ key }}</span><br>
                                    <span>{{ key.store_id.min_price }}</span><br>
                                    <span id="clock_{{ key.pk }}" style="color: white"></span><br>
                                    <span>메뉴 : {{ key.menu }}</span><br>
                                    {% for value in values %}
                                        {% if value.content %}
                                            <span style="color: skyblue;">#{{ value.content }} </span>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        {% endif %}
                        <script>
                            // Set the date we're counting down to
                            {#console.log(countDownDate);#}
                            {#console.log(due_date);#}
                            // Update the count down every 1 second
                            var x = setInterval(function () {
                                var now = new Date().getTime();
                                var create_date_{{ key.pk }} = '{{ key.create_date_string }}'
                                var create_date_{{ key.pk }}_js = new Date(create_date_{{ key.pk }});
                                var due_date_{{ key.pk }} = addMinutes(create_date_{{ key.pk }}_js, {{ key.timer }})
                                {#console.log(due_date_{{ key.pk }})#}
                                // Get today's date and time
                                // Find the distance between now and the count down date
                                var distance = due_date_{{ key.pk }} - now;
                                {#console.log('distance: ' + distance);#}
                                // Time calculations for days, hours, minutes and seconds
                                var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
                                var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
                                var seconds = Math.floor((distance % (1000 * 60)) / 1000);


                                // Output the result in an element with id="demo"
                                document.getElementById("clock_{{ key.pk }}").innerHTML = hours + ":"
                                    + minutes + ":" + seconds;

                                // If the count down is over, write some text
                                if (distance < 0) {
                                    clearInterval(x);
                                    document.getElementById("clock_{{ key.pk }}").innerHTML = "expired";
                                }
                            }, 1000);
                        </script>
                    {% endfor %}
                </div>
            </div>

            <div class="col-lg-12" id ="MENU">
                    {% for menu in menus %}
                        <div style="display: inline-block">
                            <form action="{% url 'core:menu_search' univ.pk %}" method="POST"
                            name="{{ menu }}">
                                {% csrf_token %}
                                <input value="{{ menu }}" name="kwd">
                            <button id="{{ menu }}" >{{ menu }}검색</button>
                            </form>
                        </div>
                    {% endfor %}

            </div>
            <script>
                $("#MENU").hide()
            </script>

        </section><!-- #portfolio -->
    </main>
    <script>
        $(".match_request").click(function () {
            var posting_pk = $(this).attr('name');
            var contacts_num = {{ contacts_num }};
            $.ajax({
                type: "GET",
                url: "{% url 'core:match_request'%}",
                data: {'posting_pk': posting_pk, 'contacts_num': contacts_num},
                success: function () {
                    alert("매칭신청되었습니다.");
                    window.location.href="{% url 'core:my_page' %}"
                },
                error: function (request, status, error) {
                    if (contacts_num===3){
                        alert("참여가능한 포스팅은 최대 3개입니다.");
                        window.location.reload()
                    }
                    else{
                        alert("이미 신청한 포스팅이거나 최대 신청 가능인원을 초과하였습니다.");
                        window.location.reload()
                    }
                },
            });
        });
    </script>
{% endblock %}



