{% extends "base.html" %}

{% block content %}
    {% load static %}
    {#    <div style="text-align: center">#}
    {#        {{ univ }}#}
    {#        <ul style="list-style: none;">#}
    {#            <li><a href="">all</a></li>#}
    {#            {% for category in categories %}#}
    {#                <li><a href="">{{ category.cat_name }}</a></li>#}
    {#            {% endfor %}#}
    {#        </ul>#}
    {##}
    {#    </div>#}
    {#    <div>#}
    {#        {% if user.is_active %}#}
    {#            <a href="{% url 'core:match_new' user.id %}"><img#}
    {#                    src="https://image.flaticon.com/icons/svg/1659/1659463.svg" width="200px" height="200px" alt=""></a>#}
    {#        {% endif %}#}
    {#    </div>#}
    <main id="main" style="background-color: inherit;">
        <section id="portfolio" class="section-bg" style="background-color: inherit;">
            <div class="container">

                <header class="section-header">
                    <h3 class="section-title">{{ univ }}에서 올라온 포스팅이에요</h3>
                </header>

                <div class="row">
                    <div class="col-lg-12">
                        <ul id="portfolio-flters">
                            <li data-filter="*" class="filter-active">All</li>
                            {% for category in categories %}
                                <li data-filter=".filter-{{ category }}">{{ category.cat_name }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>

                <div class="row portfolio-container">

                    {% for posting in postings %}
                        <div class="col-lg-4 col-md-6 portfolio-item filter-{{ posting.store_id.category_id }}">
                            <div class="portfolio-wrap">
                                <img src="{{ posting.store_id.logo }}" class="img-fluid" alt="" style="width: 100%;">
                                <div class="portfolio-info" style="height:200px;">
                                    <h4><a href="#">{{ posting.user_id }}</a></h4>
                                    <p>{{ posting.store_id }}</p>
                                    <div>
                                        <a href="{{ posting.store_id.logo }}"
                                           data-lightbox="portfolio"
                                           data-title="App 1" class="link-preview" title="Preview"><i
                                                class="ion ion-eye"></i></a>
                                        <a href="#" class="link-details" title="More Details"><i
                                                class="ion ion-android-open"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>

            </div>
        </section><!-- #portfolio -->
    </main>

{% endblock %}
