{% extends 'base.html' %}
{% block extra_head %}
    <meta http-equiv="Content-Type" content="text/html; charset=euc-kr">
    <script language="javascript" type="text/javascript">
        {#function openWin() {#}
        {#    window.open("http://www.naver.net", "네이버새창", "width=800, height=700, toolbar=no, menubar=no, scrollbars=no, resizable=yes");#}
        {#}#}

            var openWin;

            function openChild() {
                // window.name = "부모창 이름";
                window.name = "parentForm";
                // window.open("open할 window", "자식창 이름", "팝업창 옵션");
                openWin = window.open("{% url 'core:choice_detail' %}",
                    "childForm", "width=1200, height=1200, resizable = no, scrollbars = no");
            }

            {#function setChildText() {#}
            {#    openWin.document.getElementById("cInput1{{ s.id }}").value = document.getElementById("pInput1").value;#}
            {#    openWin.document.getElementById("cInput2{{ s.id }}").value = document.getElementById("pInput2").value;#}
            {#    openWin.document.getElementById("cInput3{{ s.id }}").src = document.getElementById("pInput3").src;#}
            {#    openWin.document.getElementById("cInput4{{ s.id }}").value = document.getElementById("pInput4").value;#}
            {#}#}

            function showHide() {
                document.getElementById('pInput3').style.visibility = "visible";
            }











    </script>
{% endblock %}

{% block content %}
    <div class="wrap-signup100 p-t-50 p-b-90">
        <form class="login100-form validate-form flex-sb flex-w" name="signup_form" id="parentForm"
              action="{% url 'core:match_new' %}" method="POST">
            {% csrf_token %}
            <span class="login100-form-title p-b-51">
                포스팅 생성
            </span>
            <br>

            <a class="btn btn-secondary" value="가게선택" onclick="window.name = 'parentForm';
                openWin = window.open('{% url 'core:choice_detail' %}', 'childForm', 'width=1200, height=1200, resizable = no, scrollbars = no');">가게
                선택</a>
            <br><br>

            <div class="container store_logo" data-validate="">
                <div class="form-group" style="color: white">
                    <input type="image" id="pInput3" name="pInput3" src="pInput3" readonly>
                </div>
            </div>

            <div class="wrap-input100 validate-input m-b-16">
                <input class="input100" type="text" id="pInput1" value='가게 이름' name="store_name" readonly>
                <span class="focus-input100"></span>
            </div>
            <br>

            <div class="wrap-input100 validate-input m-b-16">
                <input class="input100" type="text" id="pInput2" name="pInput2" value="예상 배달 시간" readonly>
                <span class="focus-input100"></span>
            </div>
            <br>

            <div class="wrap-input100 validate-input m-b-16">
                <input class="input100" type="text" id="menu_name" placeholder='메뉴' name="menu_name">
                <span class="focus-input100"></span>
            </div>
            <br>

            <div class="wrap-input100 validate-input m-b-16">
                <input class="input100" type="text" id="menu_price" placeholder="가격" name="menu_price">
                <span class="focus-input100"></span>
            </div>
            <br>

            <div class="container with_num" style="background-color: black;">
                <div class="form-group" style="color: white">
                    <label for="exampleFormControlSelect4">최대 인원</label>
                    <select class="form-control" id="exampleFormControlSelect1" name="with_num" style="width: 100px;">
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                        <option>6</option>
                    </select>
                </div>
            </div>
            <div class="container posting_time" style="background-color: black;">
                <div class="form-group" style="color: white">
                    <label for="exampleFormControlSelect5">포스팅 유지 시간</label>
                    <select class="form-control" id="exampleFormControlSelect1" name="posting_time"
                            style="width: 100px;">
                        <option>10</option>
                        <option>20</option>
                        <option selected>30</option>
                        <option>40</option>
                        <option>50</option>
                        <option>60</option>
                    </select>
                </div>
            </div>

            <div style="margin-left: 20px; margin-bottom: 20px; color: white;">
                <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" id="customRadioInline1" name="customRadioInline1"
                           class="custom-control-input">
                    <label class="custom-control-label" for="customRadioInline1">오늘은 이게 꼭 먹고 싶어요!</label>
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" id="customRadioInline2" name="customRadioInline1"
                           class="custom-control-input">
                    <label class="custom-control-label" for="customRadioInline2">다른 메뉴도 좋아요!</label>
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" id="customRadioInline3" name="customRadioInline1"
                           class="custom-control-input" checked>
                    <label class="custom-control-label" for="customRadioInline3">상관 없어요!</label>
                </div>
            </div>


            <div style="margin-left: 20px; margin-bottom: 20px; color: white;">
                <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" id="customRadioInline4" name="customRadioInline2" class="custom-control-input">
                    <label class="custom-control-label" for="customRadioInline4">같이 먹어요!</label>
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" id="customRadioInline5" name="customRadioInline2" class="custom-control-input">
                    <label class="custom-control-label" for="customRadioInline5">따로 먹어요!</label>
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" id="customRadioInline6" name="customRadioInline2" class="custom-control-input"
                           checked>
                    <label class="custom-control-label" for="customRadioInline6">상관 없어요!</label>
                </div>
            </div>

            <input type="submit" value="생성" style="margin-left: 20px;">
        </form>
    </div>


    <form id="parentForm" action="{% url 'core:match_new' %}" method="POST">
        {% csrf_token %}
        <div>
            <div>
                <input type="button" value="가게선택" onclick="window.name = 'parentForm';
                openWin = window.open('{% url 'core:choice_detail' %}', 'childForm', 'width=1200, height=1200, resizable = no, scrollbars = no');"><br>
                {#                <a href="#"#}
                {#                   onClick="window.open('{% url 'core:choice_detail' %}', '네이버', 'width=1200, height=1200, toolbar=no, menubar=no, scrollbars=no, resizable=yes'); return false;">가게선택</a>#}
            </div>
            <div class="container store_logo" style="background-color: black; padding-top: 20px;">
                <div class="form-group" style="color: white">
                    <label for="exampleFormControlSelect1"></label>
                    <input type="image" id="pInput3" name="pInput3" src="pInput3" readonly>
                    <img src="{{ s.logo }}" width="100px" height="100px" alt="">
                </div>
            </div>

            <div class="container store_title" style="">
                <div class="form-group" style="color: white">
                    <label for="exampleFormControlSelect2">가게 이름</label>
                    <input type="text" id="pInput1" name="store_name" readonly>
                </div>
            </div>

            <div class="container cat_name" style="background-color: black" hidden>
                <div class="form-group" style="color: white">
                    <label for="exampleFormControlSelect5">pk</label>
                    <input type="text" id="pInput4" name="store_pk">
                </div>
            </div>

            <div class="container del_time" style="background-color: black;">
                <div class="form-group" style="color: white">
                    <label for="exampleFormControlSelect3">예상 배달 시간</label>
                    <input type="text" id="pInput2" name="pInput2" readonly>
                </div>
            </div>

            <div class="container menu_name" style="background-color: black;">
                <div class="form-group" style="color: white">
                    <label for="exampleFormControlSelect4">메뉴</label>
                    <input type="text" id="menu_name" name="menu_name">
                </div>
            </div>

            <div class="container menu_price" style="background-color: black;">
                <div class="form-group" style="color: white">
                    <label for="exampleFormControlSelect5">가격</label>
                    <input type="text" id="menu_price" name="menu_price">
                </div>
            </div>

            <div class="container with_num" style="background-color: black;">
                <div class="form-group" style="color: white">
                    <label for="exampleFormControlSelect4">최대 인원</label>
                    <select class="form-control" id="exampleFormControlSelect1" name="with_num" style="width: 100px;">
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                        <option>6</option>
                    </select>
                </div>
            </div>
            <div class="container posting_time" style="background-color: black;">
                <div class="form-group" style="color: white">
                    <label for="exampleFormControlSelect5">포스팅 유지 시간</label>
                    <select class="form-control" id="exampleFormControlSelect1" name="posting_time"
                            style="width: 100px;">
                        <option>10</option>
                        <option>20</option>
                        <option selected>30</option>
                        <option>40</option>
                        <option>50</option>
                        <option>60</option>
                    </select>
                </div>
            </div>

            <div style="margin-left: 20px; margin-bottom: 20px; color: white;">
                <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" id="customRadioInline1" name="customRadioInline1"
                           class="custom-control-input">
                    <label class="custom-control-label" for="customRadioInline1">오늘은 이게 꼭 먹고 싶어요!</label>
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" id="customRadioInline2" name="customRadioInline1"
                           class="custom-control-input">
                    <label class="custom-control-label" for="customRadioInline2">다른 메뉴도 좋아요!</label>
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" id="customRadioInline3" name="customRadioInline1"
                           class="custom-control-input" checked>
                    <label class="custom-control-label" for="customRadioInline3">상관 없어요!</label>
                </div>
            </div>


            <div style="margin-left: 20px; margin-bottom: 20px; color: white;">
                <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" id="customRadioInline4" name="customRadioInline2" class="custom-control-input">
                    <label class="custom-control-label" for="customRadioInline4">같이 먹어요!</label>
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" id="customRadioInline5" name="customRadioInline2" class="custom-control-input">
                    <label class="custom-control-label" for="customRadioInline5">따로 먹어요!</label>
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" id="customRadioInline6" name="customRadioInline2" class="custom-control-input"
                           checked>
                    <label class="custom-control-label" for="customRadioInline6">상관 없어요!</label>
                </div>
            </div>

            {#            <div class="form-check">#}
            {#                <input class="form-check-input" type="checkbox" value="" id="defaultCheck2">#}
            {#                <label class="form-check-label" for="defaultCheck2">#}
            {#                    Disabled checkbox#}
            {#                </label>#}
            {#            </div>#}
            <input type="submit" value="생성" style="margin-left: 20px;">

        </div>

    </form>
{% endblock %}