{#{% extends 'base.html' %}#}
{##}
{#{% block content %}#}
{#    <div class="container text-center my-auto">#}
{#        <h2 class="mb-1" style="color: white">My Page</h2>#}
{#    <br>#}
{#    <br>#}
{#    </div>#}
{#    <div style="display: inline-block">#}
{#        <ul class="list-group list-group-flush">#}
{#            <li class="list-group-item">username: {{ profile.user.username }}</li>#}
{#            <li class="list-group-item">univ: {{ profile.univ }}</li>#}
{#            <li class="list-group-item">nickname: {{ profile.nickname }}</li>#}
{#        </ul>#}
{#    </div>#}
{#    <br>#}
{#    <br>#}
{#    <div style="display: inline-block">#}
{#        <ul class="list-group list-group-flush">#}
{#            <li class="list-group-item">내 포스팅들</li>#}
{#        </ul>#}
{#    </div>#}
{#    <div class="wrap">#}
{#        <div>참여중인 포스트</div>#}
{#        {% for posting in now_postings %}#}
{#            <div class="card" style="width: 18rem; display: inline-block;">#}
{#                <img src="{{ posting.store_id.logo }}" class="card-img-top" alt="...">#}
{#                <div class="card-body">#}
{#                    <h5 class="card-title">{{ posting.menu }}</h5>#}
{#                    <div class="card-text">store: {{ posting.store_id.title }}</div>#}
{#                    <div class="card-text">가격: {{ posting.price }}</div>#}
{#                    <div class="card-text">최대인원: {{ posting.max_num }}</div>#}
{#                    <br/>#}
{#                    <a href="#" class="btn btn-primary">채팅방으로</a>#}
{#                </div>#}
{#            </div>#}
{#        {% endfor %}#}
{#        <div>완료된 포스트</div>#}
{#        {% for posting in end_postings %}#}
{#            <div class="card" style="width: 18rem; display: inline-block;">#}
{#                <img src="{{ posting.store_id.logo }}" class="card-img-top" alt="...">#}
{#                <div class="card-body">#}
{#                    <h5 class="card-title">{{ posting.menu }}</h5>#}
{#                    <div class="card-text">store: {{ posting.store_id.title }}</div>#}
{#                    <div class="card-text">가격: {{ posting.price }}</div>#}
{#                    <div class="card-text">최대인원: {{ posting.max_num }}</div>#}
{#                    <br/>#}
{#                    <a href="#" class="btn btn-primary">채팅방으로</a>#}
{#                </div>#}
{#            </div>#}
{#        {% endfor %}#}
{#    </div>#}
{#{% endblock %}#}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <!--  This file has been downloaded from https://bootdey.com  -->
    <!--  All snippets are MIT license https://bootdey.com/license -->
    <title>My Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <link href="http://netdna.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'style_mypage.css' %}"/>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-xl-12">
            <div class="card card-lg">
                <h6 class="card-header">진행중인 포스트</h6>
                <div class="card-body">
                    <div class="user-activity">
                        {% for posting in postings %}
                            {{ posting.pk }}
                            <div class="media">
                                <div class="media-img-wrap">
                                    <div class="avatar avatar-sm">
                                        <img src="{{ posting.store_id.logo }}" alt="user" class="avatar-img rounded-circle">
                                    </div>
                                </div>
                                <div class="media-body">
                                    <div class="d-flex align-items-start">
                                        <div>
                                            <span class="d-block mb-5">
                                                <span class="font-weight-500 text-dark text-capitalize">{{ posting.store_id.title }}</span>
                                                <br/><span class="font-weight-500 text-dark text-capitalize">메뉴: {{ posting.menu }}</span>
                                            </span>
                                            <span class="d-block font-13 mb-30">참여자 목록</span>
                                        </div>
                                        <script type="text/javascript">
                                            function chat_popup() {
                                                var url = '{% url "chat:room" posting.pk %}';
                                                var name = "review";
                                                var option = "width = 450, height = 550, top = 10, left = 400, location = no ";
                                                window.name = "room";
                                                window.open(url, name, option);
                                            }
                                        </script>
                                        {% if profile.user == posting.user_id %}
                                            {% if posting.chat_created == False %}
                                                <button class="btn btn-sm btn-primary ml-auto enter" onclick="location.href='{% url "chat:create_room" posting.pk %}'">{{ posting.pk }}채팅방 개설</button>
                                            {% else %}
                                                <button class="btn btn-sm btn-primary ml-auto enter" onclick="location.href='javascript:chat_popup()'">채팅방 들어가기</button>
                                            {% endif %}
                                        {% else %}
                                            {% if posting.chat_created == True %}
                                                <button class="btn btn-sm btn-primary ml-auto enter" onclick="location.href='javascript:chat_popup()'">채팅방 들어가기</button>
                                            {% endif %}
                                        {% endif %}
                                    </div>
                                    {% if posting.user_id == current_user %}
                                        {% for contact in contacts %}
                                            {% if contact.posting_id.pk == posting.pk and contact.allowed_user.user != posting.user_id %}
                                                <div class="card d-inline-block w-sm-360p">
                                                    <div class="card-body">
                                                        <div class="d-flex flex-wrap">
                                                            <img class="d-86 rounded mb-15 mr-15"
                                                                 src="https://uybor.uz/borless/uybor/img/user-images/user_no_photo_300x300.png"
                                                                 alt="thumb">
                                                            <div class="w-65">
                                                                <h6 class="mb-5">{{ contact.allowed_user.user.username }}</h6>
                                                                <p>good: {{ contact.allowed_user.good_review }}
                                                                    bad: {{ contact.allowed_user.bad_review }}</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="card-footer text-muted justify-content-between">
                                                        {% if contact.accepted == True %}
                                                            <button class="btn btn-xs btn-primary ml-15 w-sm-100p" disabled>
                                                                수락완료된 참여자입니다.
                                                            </button>
                                                        {% else %}
                                                            <button class="btn btn-xs btn-primary ml-15 w-sm-100p" onclick="location.href='{% url "core:accept" contact.pk %}'">수락하기</button>
                                                            <button class="btn btn-xs btn-primary ml-15 w-sm-100p" onclick="location.href='{% url "core:refuse" contact.pk %}'">거절하기</button>
                                                        {% endif %}
                                                    </div>
                                                </div>
                                            {% endif %}
                                        {% endfor %}
                                    {% endif %}
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="card card-lg">
                <h6 class="card-header">완료된 포스트</h6>
                {% for posting in end_postings %}
                    <div class="media">
                        <div class="media-img-wrap">
                            <div class="avatar avatar-sm">
                                <img src="{{ posting.store_id.logo }}" alt="user" class="avatar-img rounded-circle">
                            </div>
                        </div>
                        <div class="media-body">
                            <div class="d-flex align-items-start">
                                <div>
                                    <span class="d-block mb-5"><span
                                            class="font-weight-500 text-dark text-capitalize">{{ posting.menu }}</span><span
                                            class="pl-5">매칭대기중</span></span>
                                </div>
                                <button class="btn btn-sm btn-primary ml-auto"
                                        onclick="location.href='{% url "chat:room" posting.pk %}'">포스팅 삭제하기
                                </button>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<script src="http://netdna.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>