@font-face {
    font-family: BMDOHYEON_ttf;
    src: url('fonts/BMDOHYEON_ttf.ttf');
}

@font-face {
    font-family: BMHANNAAir_ttf;
    src: url('fonts/BMHANNAAir_ttf.ttf');
}

@font-face {
    font-family: BMHANNAPro;
    src: url('fonts/BMHANNAPro.ttf');
}

@font-face {
    font-family: BMYEONSUNG_ttf;
    src: url('fonts/BMYEONSUNG_ttf.ttf');
}