# 로그인 이후 바뀐 네브바 구현

{#<nav class="navbar navbar-light bg-light">#}
{#  <a class="navbar-brand" href="{% url 'core:home' %}">#}
{#    <img src="https://i.pinimg.com/originals/50/f3/00/50f300a6980d8e7f3117181c3e18658e.jpg" class="rounded-circle" width="40" height="40" alt="">#}
{#  </a>#}
{#    <ul class="nav justify-content-end">#}
{#        <li class="nav-item">#}
{#            <a class="nav-link active" href="{% url 'stock:item_new' %}">상품 등록</a>#}
{#        </li>#}
{#        <li class="nav-item">#}
{#            <a class="nav-link" href="{% url 'stock:comp_new' %}">거래처 등록</a>#}
{#        </li>#}
{#        <li class="nav-item">#}
{#            <a class="nav-link" href="{% url 'stock:comp_list' %}">거래처 관리</a>#}
{#        </li>#}
{#    </ul>#}
{#</nav>#}